*{
    padding: 0;
    margin: 0;
    opacity: 1; 
    animation: op 1s forwards ease-in-out;
}
/*----- animation----
@keyframes op{
  from{
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }

}*/

@font-face{
	font-family: 'MyWebFont';
	src: url("font/Signika-Light.ttf") format('signilight'),
		 url("font/Signika-Bold.ttf"),
		 url("font/Signika-SemiBold.ttf"),
		 url("font/Signika-Regular.ttf");
}
html, body{
    height: 100%;
}

#container{
    min-height: 100%;
}

#main{
    overflow: auto;
    padding-bottom: 100px;
   
}

#imgen{
    width:80%;
    display:none;
    position: absolute;
    margin-left: 3%;
}

#imgto{
    width:80%;
    position: absolute;
    margin-left: 3%;
}

#imgtre{
    width:80%;
    display:none;
    position: absolute;
    margin-left: 3%;
}

.bag{
    width: 80%;
    height: 20%;
    border-radius: 50px;
    margin-left: 3%;   
}


h2{
    margin-top: 30px;
    margin-left: 40px;
    margin-bottom: 5px;
    font-family: "Signika Light";
	font-size: 50px;
}
.billeder{
    margin-left: 7.5%;
}
.opacity-off{
    float: left;
    padding: 50px;
    width: 20%;
    height: 20%;
}


.templet{
    float: left;
    width: 70%;
    margin-left: 7.5%;
    margin-top: 5%;
    margin-right: 15%;
    margin-bottom: 10%;
}

.column{
    width: 100%;
}

.rcorners {
    
    margin-bottom: 3%;
    border-radius: 15px;
    margin-left: 10%;
    width: 20%;
}

.rcorners1 {
    
    margin-bottom: 3%;
    border-radius: 15px;
    margin-left: 10%;
    width: 20%;
   
}
.rcorners2 {
    
    margin-bottom: 3%;
    border-radius: 15px;
    margin-left: 10%;
    width: 20%;
  
}

.str{
    width: 10%;
    margin-top: 3%;
    margin-left: 8%;
}

.bun{
    margin-right: 100px;
    margin-top: 50px;
    float: right;
    width: 300px;
    height: 150px;
}



.btn{
    text-decoration: none;
    width: 300px;
    height: 150px;
    border: solid 3px #707070;
	background-color: #59B08D;
	border-radius: 10px;
    font-family: "Signika Light";
	font-size: 50px;
}

    



/*---------Footer------*/
#footer{
    background-color: #DFC0D9;
    position: relative;
    height: 125px;
    margin-top: -125px;
    clear: both;
}

.icon-bar a {
  float: left;
  width: 25%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #BF81B4;
}

.active {
  background-color: #74476B;

}

.logo{
	float: right;
	margin: 50px 40px 0 0;
	position: inherit;
}
