*{
    padding: 0;
    margin: 0;
    opacity: 1;
    
    animation: op 1s forwards ease-in-out;
    
}
@keyframes op{
  from{
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }

}


.logonik{
    display: block;
    position: relative;
    padding-top: 115%;
    margin: auto;
    width: 35%;
    
}

.for{
    width: 100%;
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 95%);
}


.infoboxe{
	float: left;
	margin: 0 auto;
}
.infoboxe input{
	border: solid 2px #707070;
	border-radius: 10px;
	background: transparent;
	outline: none;
	height: 80px;
	width: 79%;
	margin: 120px 0 0 100px;
	font-family: "Signika Light";
	font-size: 40px; 
    padding-left: 20px;
}

.nybrug{
 
}

.opret{
    text-align: center;
    background-color: aqua;
    border: solid 2px #707070;
	border-radius: 10px;
}