
*
{
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
  
}

.row:after {
    content: "";
    display: table;
    clear: both;
}



#rcorners {
    border-radius: 15px;
    border: 2px solid grey;
    padding: 20px;
    width:80%;
    height: 350px;
    margin: 200px 50px;
    background-image: url(../img/kyllinger.jpeg)
   
}

#rcorners1 {
    border-radius: 15px;
    border: 2px solid grey;
    padding: 20px;
    width: 80%;
    height: 350px;
    margin: 200px 50px;
}

p {
    
}