* {
margin: 0; 
padding: 0; 
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,400,500,600,700i,800');
font-family: 'Montserrat', sans-serif;
}
@font-face{
	font-family: 'MyWebFont';
	src: url("font/Signika-Light.ttf") format('signilight'),
		 url("font/Signika-Bold.ttf"),
		 url("font/Signika-SemiBold.ttf"),
		 url("font/Signika-Regular.ttf");
}

section {
width: 100%; 
height: 800px; 
float: left;
}

#logo{
margin: -60px 0 0 620px;
position: fixed;
}

#pageA {
margin-top: 150px;
background: white;
}
#billedeA1{
	position: absolute;
}
#billedeA1 img{
	margin: 50px 0 0 150px;
	height: 600px
}
#billedeA2{
	position: absolute;
}
#billedeA2 img{
	margin: 50px 0 0 470px;
	height: 600px;
}
#billedeA3{
	position: absolute;
}
#billedeA3 img{
	margin: 50px 0 0 790px;
	height: 600px
}
#billedeA4{
	position: absolute;
}
#billedeA4 img{
	margin: 50px 0 0 1110px;
	height: 600px;
}
#pageB {
background: white;
}
#primarylogo1{
	margin: 80px 0 0 300px;
}
#primarylogo1 img{
	width: 250px;
}
p{
	margin: 10px 0 0 300px;
	width: 250px;
}
#pageC {
background: white;
}
#color1{
	position: absolute;
	width: 270px;
	height: 270px;
	margin: 80px 0 0 80px;
	background-color: #303030;
	border-radius: 100%;
}
#color1 p{
	width: 120px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}
#color2{
	position: absolute;
	width: 270px;
	height: 270px;
	margin: 80px 0 0 560px;
	background-color: #59B08D;
	border-radius: 100%;
}
#color2 p{
	width: 120px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}
#color3{
	position: absolute;
	width: 270px;
	height: 270px;
	margin: 80px 0 0 1040px;
	background-color: #DFC0D9;
	border-radius: 100%;
}
#color3 p{
	width: 120px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}
#color4{
	position: absolute;
	width: 270px;
	height: 270px;
	margin: 380px 0 0 80px;
	background-color: #707070;
	border-radius: 100%;
}
#color4 p{
	width: 120px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}
#color5{
	position: absolute;
	width: 270px;
	height: 270px;
	margin: 380px 0 0 560px;
	background-color: #FF2700;
	border-radius: 100%;
}
#color5 p{
	width: 120px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}
#color6{
	position: absolute;
	width: 270px;
	height: 270px;
	margin: 380px 0 0 1040px;
	background-color: #BF81B4;
	border-radius: 100%;
}
#color6 p{
	width: 120px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}
#pageD {
background: white;
}
#signikabox{
	position: absolute;
	width: 475px;
	height: 575px;
	background-color: #FFF;
	border: solid 25px #707070;
	border-radius: 50px;
	margin: 50px 0 0 150px;
}
#signikabox h5{
	font-family: "Signika Regular";
	font-size: 70px;
	margin: 40px 0 0 120px;
}
#signikabox p{
	font-family: "Signika Light";
	font-size: 20px;
	margin: 30px 0 0 50px;
	width: 375px;
}
#montserratbox{
	position: absolute;
	width: 475px;
	height: 575px;
	background-color: #FFF;
	border: solid 25px #707070;
	border-radius: 50px;
	margin: 50px 150px 0 860px;
}
#montserratbox h5{
	font-family: 'Montserrat', sans-serif;
	font-size: 70px;
	margin: 40px 0 0 55px;
}
#montserratbox p{
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	margin: 30px 0 0 50px;
	width: 375px;
}
#pageE{
background: white;
}
#toneofvoicebox1{
	width: 500px;
	height: 200px;
	background-color: #707070;
	margin: 50px 0 0 820px;
	border-radius: 50px;
}
#toneofvoicebox1 h5{
	position: absolute;
	font-family: "Signika Light";
	font-size: 120px;
	color: #FFF;
	margin: 25px 0 0 85px;
}
#toneofvoicebox1 p{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	margin: 0 0 0 -590px;
	padding-top: 40px;
	width: 470px;
}
#toneofvoicebox2{
	width: 500px;
	height: 200px;
	background-color: #707070;
	margin: 0 0 0 200px;
	border-radius: 50px;
}
#toneofvoicebox2 h5{
	position: absolute;
	font-family: "Signika Light";
	font-size: 120px;
	color: #FFF;
	margin: 25px 0 0 115px;
}
#toneofvoicebox2 p{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	margin: 0 0 0 650px;
	padding-top: 50px;
	width: 500px;
}
#toneofvoicebox3{
	width: 500px;
	height: 200px;
	background-color: #707070;
	margin: 0 0 0 820px;
	border-radius: 50px;
}
#toneofvoicebox3 h5{
	position: absolute;
	font-family: "Signika Light";
	font-size: 90px;
	color: #FFF;
	margin: 45px 0 0 15px;
}
#toneofvoicebox3 p{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	margin: 0 0 0 -590px;
	padding-top: 40px;
	width: 470px;
}

#pageF{
    background: white;
	padding-bottom: 800px;
}

.square1{
    width: 300px;
		height: 300px;
		position: absolute;
		width: 300px;
		height: 300px;
		position: absolute;
		background-color: #FFF;
		border: solid 10px #707070;
		margin: 50px 0 0 75px;
		border-radius: 50px;
}

		#square2{
			width: 300px;
			height: 300px;
			position: absolute;
			background-color: #FFF;
			border: solid 10px #707070;
			margin: 50px 0 0 425px;
			border-radius: 50px;
}
			#square3{
				width: 300px;
				height: 300px;
				position: absolute;
				background-color: #FFF;
				border: solid 10px #707070;
				margin: 50px 0 0 775px;
				border-radius: 50px;
}
				#square4{
					width: 300px;
					height: 300px;
					position: absolute;
					background-color: #FFF;
					border: solid 10px #707070;
					margin: 50px 0 0 1125px;
					border-radius: 50px;
}
	#square5{
		width: 300px;
		height: 300px;
		position: absolute;
		background-color: #FFF;
		border: solid 10px #707070;
		margin: 400px 0 0 75px;
		border-radius: 50px;
}
		#square6{
			width: 300px;
			height: 300px;
			position: absolute;
			background-color: #FFF;
			border: solid 10px #707070;
			margin: 400px 0 0 425px;
			border-radius: 50px;
}
			#square7{
				width: 300px;
				height: 300px;
				position: absolute;
				background-color: #FFF;
				border: solid 10px #707070;
				margin: 400px 0 0 775px;
				border-radius: 50px;
}
				#square8{
					width: 300px;
					height: 300px;
					position: absolute;
					background-color: #FFF;
					border: solid 10px #707070;
					margin: 400px 0 0 1125px;
					border-radius: 50px;
}
	#square9{
		width: 300px;
		height: 300px;
		position: absolute;
		background-color: #FFF;
		border: solid 10px #707070;
		margin: 750px 0 0 75px;
		border-radius: 50px;
}
		#square10{
			width: 300px;
			height: 300px;
			position: absolute;
			background-color: #FFF;
			border: solid 10px #707070;
			margin: 750px 0 0 425px;
			border-radius: 50px;
}
			#square11{
				width: 300px;
				height: 300px;
				position: absolute;
				background-color: #FFF;
				border: solid 10px #707070;
				margin: 750px 0 0 775px;
				border-radius: 50px;
}
				#square12{
					width: 300px;
					height: 300px;
					position: absolute;
					background-color: #FFF;
					border: solid 10px #707070;
					margin: 750px 0 0 1125px;
					border-radius: 50px;
}
	#square13{
		width: 300px;
		height: 300px;
		position: absolute;
		background-color: #FFF;
		border: solid 10px #707070;
		margin: 1100px 0 0 75px;
		border-radius: 50px;
}
		#square14{
			width: 300px;
			height: 300px;
			position: absolute;
			background-color: #FFF;
			border: solid 10px #707070;
			margin: 1100px 0 0 425px;
			border-radius: 50px;
}
			#square15{
				width: 300px;
				height: 300px;
				position: absolute;
				background-color: #FFF;
				border: solid 10px #707070;
				margin: 1100px 0 0 775px;
				border-radius: 50px;
}
				#square16{
					width: 300px;
					height: 300px;
					position: absolute;
					background-color: #FFF;
					border: solid 10px #707070;
					margin: 1100px 0 0 1125px;
					border-radius: 50px;
}

nav{
width: 100%;
padding: 80px 0 20px 0;
position: fixed;
z-index: 1;
background: white;
background-size: 1000px;
}

ul{
width:fit-content; 
margin: auto; 
list-style: none;
}

ul li{
float: left; 
margin-right: 30px;
}

ul li a{
color: #303030; 
font-family: 'Montserrat', sans-serif;
text-decoration: none;
font-size: 17px
}

ul li a:hover{
text-decoration:
none;
}

h1{
color: #303030; 
text-align: center;
font-size: 40px;
font-family: 'Montserrat', sans-serif;
}

.headcenter{
text-align: center;
}